body {
    background-color: #404650 !important;
}

h1
{
    color: ghostwhite;
}

.container-style {
    margin-top: 7em;
}

.app-tab-container {
    padding: 20px 150px;
    min-height: 50px;
    background-color: #525a66;
}

.table-upper-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}